.App-header button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Dies ist ein Grünton */
  color: white; /* Dies setzt die Textfarbe auf Weiß */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

